In [2]:
import pandas as pd
df=pd.DataFrame({"name":["Bob","Alice","Morgan"],"age":[60,25,3]})
df["df twice two"]=2*df["age"]

print(df)

print(df["age"].quantile(0.5))

   age    name  df twice two
0   60     Bob           120
1   25   Alice            50
2    3  Morgan             6
25.0

In [48]:
s=pd.Series([1,2,3])
print(s)

0    1
1    2
2    3
dtype: int64

In [49]:
s+2

0    3
1    4
2    5
dtype: int64

In [50]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [51]:
dic=df.set_index("name")
print(dic.index)

Index(['Bob', 'Alice', 'Morgan'], dtype='object', name='name')

In [52]:
drax=dic.iloc[0,:]
print(drax["age"])

60

In [53]:
df_w_age=pd.DataFrame({"name":["abhinav","ravi","thanos"],"age":[25,30,92]})
df_w_height=pd.DataFrame({"name":["abhinav","ravi","thanos"],"height":[6.2,5.5,4.9]})
joined=df_w_age.set_index("name").join(df_w_height.set_index("name"))
print(joined)

         age  height
name
abhinav   25     6.2
ravi      30     5.5
thanos    92     4.9

In [54]:
print(joined.reset_index())

      name  age  height
0  abhinav   25     6.2
1     ravi   30     5.5
2   thanos   92     4.9

In [55]:
df_w_all=pd.DataFrame({"name":["abhinav","ravi","wasp","scarlett"],"age":[25,30,92,19],"height":[6.2,5.5,4.9,7],"gender":["m","m","f","f"]})
print(df_w_all.groupby("gender").quantile(0.5))

0.5      age  height
gender
f       55.5    5.95
m       27.5    5.85

In [59]:
def agg(df):
    return pd.Series({"name":max(df["name"]),"age":max(df["age"]),"meanheight":df["height"].mean()})

print(df_w_all.groupby("gender").apply(agg))

        age  meanheight  name
gender
f        92        5.95  wasp
m        30        5.85  ravi